<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/contact.css">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Responsive Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<header>
    <div class="container">
        <div class="row justify-content-end">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" style="color: black" href="../index.html">Головна</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: black" href="contact.html">Контакти</a></li>
                    <li class="nav-item"><a class="nav-link"  style="color: black"href="try.html">Спробувати</a></li>
                    <li class="nav-item"><img src="../images/logo.png" class="header-pick"></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container mt-5 justify-content-center align-content-center">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-12 col-sm-8 text-center mt-5">
            <p class="page-title">Маєте запитання або нові ідеї для покращення нашого продукта?</p>
            <p class="page-title">Будь ласка, звʼяжіться з нами.</p>
        </div>
    </div>
    <div class="input-container mt-5" >
        <div class="col-12 col-sm-6">
            <p>Пошта</p>
            <input type="text" id="fname" name="firstname" placeholder="Ваша пошта.."
                   class="email-input">
        </div>
        <div class="col-12 col-sm-6">
            <textarea id="subject" name="subject" placeholder="Напишіть щось..."
                      class="text-input"></textarea>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-5 mb-5" style="display: flex; justify-content: center; align-content: center">
        <div class="col-12 col-sm-6 text-center justify-content-center align-content-center">
            <button class="button" style="color: white">Надіслати</button>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>&copy; Якщо у вас є запит і ви хочете поговорити з нашою командою експертів, Ви можете зв’язатися з нами електронною поштою за адресою: Support@Browney.nl</p>
    </div>
</footer>
<script>


</script>
</body>

</html>